<div class="create-account">
  <h1>Create Account</h1>
  <form method="post">

    <input type="text" name="n" placeholder="Name" required="required" />
    <input type="text" name="u" placeholder="Email" required="required" />
    <input type="password" name="p" placeholder="Password" required="required" />
    <button type="submit" class="btn btn-primary btn-block btn-large">Create my account!</button>
  </form>
</div>